<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div style="height: 90vh;">
  <mat-toolbar style="background-color:rgb(6, 99, 156)">
    <mat-toolbar-row>
      <nav class="navbar">
        <mat-toolbar-row>
        <a routerLink="/" style="font-size: px">Covid Tracker</a>
          
          <span class="spacer"></span>

        </mat-toolbar-row>
      </nav>
     
    </mat-toolbar-row>
  </mat-toolbar>



  <div class="image" style="min-width:50%; min-height:100%;background-image:url('../assets/mask.jpeg')">
    <br>

    <div class="container" >

    
            <h2>SIGN UP</h2>
            <br>
            <form #Registerform="ngForm" (ngSubmit)="registerUser()">
                    <small class="text-danger">{{msg}}</small> 
                <!--<div class="form-group">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.firstName.errors }" />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.firstName.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lastName.errors }" />
                    <div *ngIf="submitted &amp;&amp; registerForm.controls.lastName.errors" class="text-danger">
                        <div *ngIf="registerForm.controls.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>-->

               

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId" 
          required pattern ="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
         
        <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email Id is Required!!</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Enter Valid Email!!</small>
        </div>
      </div>
      </div>

      <div class="form-group">
            <label class="control-label col-sm-2" for="userName">UserName</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" placeholder="Enter username" name="userName" [(ngModel)]="user.userName" #userName="ngModel"  required 
              [class.is-invalid]="userName.invalid && userName.touched">
              <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Please Enter the  Username</small>
            </div>
          </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password</label>
        <div class="col-sm-10">          
          <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password"
          required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Please Enter the  Password</small>
        </div>
      </div>
      <div class="form-group">
            <label class="control-label col-sm" for="pwd">Confirm Password</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" placeholder="Enter password" name="cpassword"  #cpassword="ngModel" (ngModel)="user.password"
              required [class.is-invalid]="cpassword.invalid && cpassword.touched">
              <small class="text-danger" [class.d-none]="(cpassword.value == password.value)|| cpassword.untouched">Password and Conform Password must match!!</small>
            </div>
          </div>
                <div class="form-group">
                    <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-primary">Register</button>
               
               
                    <button class="btn btn-link float-right" style="font-size:x-large;" (click)="gotologin()">Login</button>
                </div>
            </form>
        </div>

  
                 
<div class="footer">
    <div class="copyright">All Copyrights © reserved | Covid Tracker</div>
    <section class="herounit-mask">
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.skype.com/">
        <i class="fab fa-skype"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin"></i>
      </a>
    </section>
</div>
