<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">



<mat-toolbar>
  <div class="color">
<mat-toolbar-row>
  <button mat-icon-button >
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>

  <h1 style="text-align: left;" >Covid Tracker</h1>
  <span class="menu-spacer"></span>
  <div>
      
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/dashboard'" routerLinkActive="active" > Home </a>

    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/ncomp'" routerLinkActive="active" > Covid News </a>
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/healthcondition'" routerLinkActive="active" >  Health Status</a>
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/'" routerLinkActive="active" >Logout</a>

</div>
</mat-toolbar-row>
</div>
</mat-toolbar>

<mat-sidenav-container class="side">
<mat-sidenav #sidenav>
  <mat-nav-list>

    <a mat-list-item [routerLink]="'/ncomp'" routerLinkActive="active">Covid News </a>
    <a mat-list-item [routerLink]="'/healthcondition'" routerLinkActive="active">Health Status</a>
    <a mat-list-item [routerLink]="'/bookmark'" routerLinkActive="active"> Selected Date </a>
    <a mat-list-item [routerLink]="'/'"routerLinkActive="disable"> Logout </a>
    

  </mat-nav-list>
</mat-sidenav>






















<div class="row margin-class" style="margin: 5px;">  
</div>  
<div class="row margin-class width100">  
  <div class="float_left width30">     
    <label>  
      <h5><span class="badge badge-secondary">Choose first Date</span></h5>  
    </label>  
    <label>  </label>  
    <input matInput [matDatepicker]="datevalue" name="datevalue" [(ngModel)]="date" placeholder="Choose a date"  
      (dateChange)="dateChanged()" [matDatepickerFilter]="postDateFilter">  
    <mat-datepicker-toggle [for]="datevalue"></mat-datepicker-toggle>  
    <mat-datepicker #datevalue> </mat-datepicker>  
  </div> 
  


  <div class="float_left width30">  
   
    <label>  
      <h5><span class="badge badge-secondary">Choose second Date</span></h5>  
    </label>  
    <label>  </label>  
    <input matInput [matDatepicker]="datevalue2" name="datevalue2" [(ngModel)]="date2" placeholder="Choose a date"  
      (dateChange)="dateChanged2()" [matDatepickerFilter]="postDateFilter">  
    <mat-datepicker-toggle [for]="datevalue2"></mat-datepicker-toggle>  
    <mat-datepicker #datevalue2></mat-datepicker>  
  </div> 


  <div>

  </div>
</div>  
<div class="row margin-class width100">  
  <div class="col-6 ">  
     
  </div>  
  <div class="float_left width30 " *ngIf="!isMobileVersion">  
      
    <mat-form-field appearance="fill" style="width: 300px;">  
      <mat-label>Choose your first state from here</mat-label>  
      <mat-select [(value)]="selectedState" (selectionChange)="onStateSelected()">  
        <mat-option *ngFor="let state of states" [value]="state">{{state.name}}  
        </mat-option>  
      </mat-select>  
    </mat-form-field> 
    <div class="container1">
    <div class="row margin-class" style="margin: 5px;">  
    </div>  
    <div *ngIf="selectedState!=null">  
      <div class="row margin-class">  
        <div>  
          <h6>State :  </h6>  
        </div>  
        <div>  
          <h5><span class="badge badge-secondary"> {{stateName}}</span></h5>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>As on Date :  </h6>  
        </div>  
        <div>  
          <h6><span class="badge badge-secondary">{{date |date}}</span></h6>  
        </div>  
      </div>  
  
      <h6>Population : {{population | number}}</h6>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Tested : {{totalTested | number}} </h6>  
        </div>  
        <div *ngIf="deltaTested != undefined && deltaTested > 0">  
          <h6><span class="badge badge-info"> + {{deltaTested}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Confirmed : {{totalConfirmed | number}} </h6>  
        </div>  
        <div *ngIf="deltaConfirmed != undefined && deltaTested > 0">  
          <h6><span class="badge badge-warning"> + {{deltaConfirmed | number}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Recovered : {{totalRecovered | number}} </h6>  
        </div>  
        <div *ngIf="deltaRecovered != undefined && deltaRecovered > 0">  
          <h6><span class="badge badge-success"> + {{deltaRecovered | number}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Deceased : {{totalDeceased | number}} </h6>  
        </div>  
        <div *ngIf="deltaDeceased != undefined && deltaDeceased > 0">  
          <h6><span class="badge badge-danger"> + {{deltaDeceased | number}}</span></h6>  
        </div>  
      </div>  
  
      <h6>Migrated : {{totalMigrated | number}} </h6>  
    </div> 
    </div>
  </div>
    <div class="float_left width30" *ngIf="!isMobileVersion">  
      
      <mat-form-field id="ddl2" appearance="fill" style="width: 300px;">  
        <mat-label>Choose your second state from here</mat-label>  
        <mat-select [(value)]="selectedState2" (selectionChange)="onStateSelected2()">  
          <mat-option *ngFor="let st of states2" [value]="st">{{st.name}}  
          </mat-option>  
        </mat-select>  
      </mat-form-field> 
      <div class="container1">
      <div class="row margin-class" style="margin: 5px;">  
      </div>  
      <div *ngIf="selectedState2!=null">  
        <div class="row margin-class">  
          <div>  
            <h6>State :  </h6>  
          </div>  
          <div>  
            <h5><span class="badge badge-secondary"> {{stateName2}}</span></h5>  
          </div>  
        </div>  
    
        <div class="row margin-class">  
          <div>  
            <h6>As on Date :  </h6>  
          </div>  
          <div>  
            <h6><span class="badge badge-secondary">{{date2 |date}}</span></h6>  
          </div>  
        </div>  
    
        <h6>Population : {{population2 | number}}</h6>  
    
        <div class="row margin-class">  
          <div>  
            <h6>Tested : {{totalTested2 | number}} </h6>  
          </div>  
          <div *ngIf="deltaTested != undefined && deltaTested > 0">  
            <h6><span class="badge badge-info"> + {{deltaTested2}}</span></h6>  
          </div>  
        </div>  
    
        <div class="row margin-class">  
          <div>  
            <h6>Confirmed : {{totalConfirmed2 | number}} </h6>  
          </div>  
          <div *ngIf="deltaConfirmed != undefined && deltaTested > 0">  
            <h6><span class="badge badge-warning"> + {{deltaConfirmed2 | number}}</span></h6>  
          </div>  
        </div>  
    
        <div class="row margin-class">  
          <div>  
            <h6>Recovered : {{totalRecovered2 | number}} </h6>  
          </div>  
          <div *ngIf="deltaRecovered != undefined && deltaRecovered > 0">  
            <h6><span class="badge badge-success"> + {{deltaRecovered2 | number}}</span></h6>  
          </div>  
        </div>  
    
        <div class="row margin-class">  
          <div>  
            <h6>Deceased : {{totalDeceased2 | number}} </h6>  
          </div>  
          <div *ngIf="deltaDeceased != undefined && deltaDeceased > 0">  
            <h6><span class="badge badge-danger"> + {{deltaDeceased2 | number}}</span></h6>  
          </div>  
        </div>  
    
        <h6>Migrated : {{totalMigrated2 | number}} </h6>  
      </div>
  </div>  
</div>  
  <div class="float_left width30" style="float: right; width: 10% !important; margin-top: 195px; " *ngIf="!isMobileVersion">  
      
    <div class="container1">
    <div class="row margin-class" style="margin: 5px;">  
    </div>  
    <div *ngIf="selectedState2!=null && selectedState!=null">  
      <div class="row margin-class">  
        
      </div>  
  
      <div class="row margin-class">  
        
      </div>  
  
      <h6>Population : {{resultpopulation | number}}</h6>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Tested : {{resulttotalTested | number}} </h6>  
        </div>  
        <div *ngIf="resultdeltaTested != undefined && resultdeltaTested > 0">  
          <h6><span class="badge badge-info"> + {{resultdeltaTested}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Confirmed : {{resulttotalConfirmed | number}} </h6>  
        </div>  
        <div *ngIf="resultdeltaConfirmed != undefined && resultdeltaTested > 0">  
          <h6><span class="badge badge-warning"> + {{resultdeltaConfirmed | number}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Recovered : {{resulttotalRecovered | number}} </h6>  
        </div>  
        <div *ngIf="resultdeltaRecovered != undefined && resultdeltaRecovered > 0">  
          <h6><span class="badge badge-success"> + {{resultdeltaRecovered | number}}</span></h6>  
        </div>  
      </div>  
  
      <div class="row margin-class">  
        <div>  
          <h6>Deceased : {{resulttotalDeceased | number}} </h6>  
        </div>  
        <div *ngIf="resultdeltaDeceased != undefined && resultdeltaDeceased > 0">  
          <h6><span class="badge badge-danger"> + {{resultdeltaDeceased | number}}</span></h6>  
        </div>  
      </div>  
  
      <h6>Migrated : {{resulttotalMigrated | number}} </h6>  
    </div>
    </div>
  </div>
</div>
  


