.col-3{
    height:10vh;
    margin-top:2vw ;
}
.float_left{
    float: left;
    width: 60%;
    padding: 80px;
}

/* parentchild */

.parent{
    display: flex;
    flex-direction: row;
    /* margin-left: 700px; */

  }

  .child1{
    margin-top: 70px;
  }


.width100{
    width: 100%;
}

.width30{
    width: 30% !important;
}

.margintop_272{
    margin-top: 272px;
}

.mat-toolbar{
    background-color: rgb(6, 99, 156);
    
   }
   .mat-toolbar .mat-toolbar-row >h1{
       margin-left:auto;
       margin-right: auto;
      
   }
   .color{
       color: rgb(231, 231, 225);
      
   }
   /* .side{
    background-color:rgb(197, 236, 171);
  
  } */
   a:hover{
       cursor: pointer;
       background-color:rgb(106, 216, 32);
   }

   .any{
    font-size: 150%;
    margin-top: 25px;
    text-align: left;
  }


  table {  
    padding: 20px;  
    width: 700px;  
    text-align: center;
    border: 2px solid rgb(146, 16, 16);  
    background-color: rgb(222, 226, 160);  
}  
  
  tr {  
    margin: 10px;  
    padding: 10px; 
    /* background-color: rgb(24, 41, 116);   */
    /* background-color: rgb(222, 226, 160);   */
  
  }  
  
  td {  
    height: 30px;  
    vertical-align: center;  
    border: 1px dotted rgb(19, 14, 16); 
     
  }
    
    

