<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">



<mat-toolbar>
  <div class="color">
<mat-toolbar-row>
  <button mat-icon-button >
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>

  <h1 style="text-align: left;" >Covid Tracker</h1>
  <span class="menu-spacer"></span>
  <div>
      
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/dashboard'" routerLinkActive="active" > Home </a>

    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/ncomp'" routerLinkActive="active" > Covid News </a>
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/healthcondition'" routerLinkActive="active" >  Health Status</a>
    <a style="text-decoration: none; color: white; font-size: large;" mat-button [routerLink]="'/'" routerLinkActive="active" >Logout</a>

</div>
</mat-toolbar-row>
</div>
</mat-toolbar>

<mat-sidenav-container class="side">
<mat-sidenav #sidenav>
  <mat-nav-list>

    <a mat-list-item [routerLink]="'/ncomp'" routerLinkActive="active">Covid News </a>
    <a mat-list-item [routerLink]="'/healthcondition'" routerLinkActive="active">Health Status</a>
    <a mat-list-item [routerLink]="'/bookmark'" routerLinkActive="active"> Selected Date </a>
    <a mat-list-item [routerLink]="'/'"routerLinkActive="disable"> Logout </a>
    

  </mat-nav-list>
</mat-sidenav>




<!-- <div>
    <div class="search">
        <p *ngFor="let a of articleList">
           Referal Link : {{a.link}} <br>
           Country: {{a.country}} <br>
           News:   {{a.summary}}
           published_date: {{a.date}}
        </p>
    </div>
</div> -->

 <div>
    <div class="search">
        <p *ngFor="let a of articleList | paginate: { id: 'listing_pagination',
        itemsPerPage: 4,
        currentPage: page }">
           
        <small style="color:rgb(255, 145, 0); font-size: large;"> ReferalLink:<a href="{{a.link}}">{{a.link}}</a></small>
        <br>
        <small style="color:rgb(111, 0, 255); font-size: medium;">Country: {{a.country}} </small>
        <br>
        <small style="color:rgb(10, 7, 14); font-size: small;" >News: {{a.summary}} </small><br>
        <small style="color:rgb(90, 18, 184); font-size: small;">Published_date: {{a.date}} </small>
        <br>
        </p>   
       
    </div>

     <!-- <pagination-controls  id="listing_pagination" maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"></pagination-controls> -->
    <pagination-controls  id="listing_pagination" maxSize="5"
    directionLinks="true"
    (pageChange)="page = $event"></pagination-controls><br>

</div>
<button style="color: blue;"  [routerLink]="'/dashboard'">Go Back</button>

<!-- <button style="color: rgb(40, 40, 218);" style="text-align: center;"  [routerLink]="'/'">Go Back</button> -->







<div class="footer">
    <div class="copyright">All Copyrights © reserved</div>
    <section class="herounit-mask">
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.skype.com/">
        <i class="fab fa-skype"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin"></i>
      </a>
    </section>
  </div>
   
 