<div class="profile"> 
    <div>
        <div class="content">
            <h3>My Account</h3>
            <div class="col-md-2 circle" style="margin-top:15px;text-align:center;">
                <span class="fa fa-user-circle fa-5x" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 " style="margin-top:15px;">
                <dl class="dl-horizontal">
                    <dt>Username</dt>
                    <dd>{{username}}</dd>
                    <dt>EmailID</dt>
                    <dd>{{email}}</dd>
                    <dt>LoginID</dt>
                    <dd>{{email}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>