<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div style="height: 80vh;">
  <mat-toolbar style="background-color:rgb(6, 99, 156)">
    <mat-toolbar-row>
      <nav class="navbar">
        <mat-toolbar-row>
        <a routerLink="/" style="font-size: 28px">Corona Live</a>
          
          <span class="spacer"></span>

        </mat-toolbar-row>
      </nav>
     <div style="width:120%;float: left;padding: 90px;">
    </mat-toolbar-row>
  </mat-toolbar> -->




  <div>
    <div style="display: block;">
      <canvas baseChart height="40vh" width="60vw"
              [datasets]="barChartData"
              [labels]="mbarChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [chartType]="barChartType"
              [legend]="barChartLegend"
              ></canvas>
    </div>
  
  </div> 
  




<!-- 


<div class="footer">
  <div class="copyright">All Copyrights © reserved</div>
  <section class="herounit-mask">
    <a href="https://www.facebook.com/">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com/">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.youtube.com/">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.skype.com/">
      <i class="fab fa-skype"></i>
    </a>
    <a href="https://www.linkedin.com/">
      <i class="fab fa-linkedin"></i>
    </a>
  </section>
</div> -->